<launch>
  
  <arg name="ackermann_robot" default="ackermann_msckf"/>
  
  <arg name="ackermann_calibration_file"
    default="$(find ackermann_msckf)/config/msckf-mynt_imu_a27_is_svd.yaml"/>

  <!-- Image Processor Nodelet  -->
  <group ns="$(arg ackermann_robot)">
    <node pkg="nodelet" type="nodelet" name="image_processor_ackermann"
      args="standalone ackermann_msckf/ImageProcessorAckermannNodelet"
      output="screen">

      <rosparam command="load" file="$(arg ackermann_calibration_file)"/>

      <param name="grid_row" value="4"/>
      <param name="grid_col" value="5"/>
      <param name="grid_min_feature_num" value="3"/>
      <param name="grid_max_feature_num" value="4"/>
      <param name="pyramid_levels" value="3"/>
      <param name="patch_size" value="15"/>
      <param name="fast_threshold" value="10"/>
      <param name="max_iteration" value="30"/>
      <param name="track_precision" value="0.01"/>
      <param name="ransac_threshold" value="3"/>
      <param name="stereo_threshold" value="5"/>

      <remap from="~imu" to="/mynteye/imu/data_raw"/>
      <remap from="~cam0_image" to="/mynteye/left/image_raw"/>
      <remap from="~cam1_image" to="/mynteye/right/image_raw"/>

    </node>
  </group>

</launch>
